<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middleware.manager.repository.MiddlewareTypeMapper">
    <select id="findAllByOrderBySortOrderAsc" resultType="MiddlewareType">SELECT * FROM middleware_types ORDER BY sort_order ASC</select>
    <select id="findByName" resultType="MiddlewareType">SELECT * FROM middleware_types WHERE name = #{name}</select>
    <select id="findById" resultType="MiddlewareType">SELECT * FROM middleware_types WHERE id = #{id}</select>
    <select id="count" resultType="long">SELECT COUNT(*) FROM middleware_types</select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">INSERT INTO middleware_types (name, sort_order) VALUES (#{name}, #{sortOrder})</insert>
    <update id="update">UPDATE middleware_types SET name=#{name}, sort_order=#{sortOrder} WHERE id=#{id}</update>
    <delete id="deleteById">DELETE FROM middleware_types WHERE id=#{id}</delete>
</mapper>
