MILVUS_VERSION=v2.3.4
ETCD_VERSION=v3.5.5
MINIO_VERSION=RELEASE.2023-03-20T20-16-18Z

MILVUS_DATA_DIR=/data/milvus
MILVUS_PORT=19530
MILVUS_WEBUI_PORT=9091
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_ROOT_USER=milvus
MINIO_ROOT_PASSWORD=ChangeThisMinioPassword_2026

